*{
    box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
  background-color: #fff;
}
.content {
  position: relative;
  min-height: 100%;
  min-width:100%;
}


.polls-viewport{
  position: relative;
  display: block;
  width: 100%;
  height:50%;
}
.polls-viewport h1{
  position: absolute;
  bottom:0;
  text-transform: uppercase;
  font-style: italic
}
.user-ctrl-bar{
  display: block;
  width: 100%;
  height:50%;
  background-color: brown;
  color: aliceblue;
  overflow-x: hidden;
}

.login-area{
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.well{
 font-size: 1.5em;
 padding: 10px 20px 10px 20px;
 margin: 0 2% 2% 2%;
 border-radius: 10px;
 border:2px inset rgba(0,0,0,0.5);
 background-color: rgba(0,0,0,0.5);
 color: aliceblue;
}
.login-area button{
 padding: 10px 20px 10px 20px;
 margin: 0 1% 0 1%;
 border-radius: 10px;
 background-color: rgba(200,200,200,0.5);
}

.user-ctrl-panel{
    position: absolute;
    left:40px;
    transition: all 0.5s ease-in-out;
}